*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #020024 0%, #760d7a 35%, #370808 100%);
    color: #ffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
    margin: 0 auto;
    margin-top: 10vh;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 5% 10%;
    width: 50%;
    background-color: orange;
    border-radius: 10px;    
}
#banner{
    margin: 50px 0;
    font-size: 3rem;
}

#Title{
    padding: 10px 100px;
    font-size: 2rem;
}

#btnGrup{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#display{
    padding: 10px 10px;
    background: #000;
    border-radius: 5px;
}

button{
    padding: 5px 10px;
    border-radius: 5px;
    width: 20vw;
    max-width: 200px;
    color: #000000;
    font-size: medium;
}